VITE_FIREBASE_API_KEY=AIzaSyCx7oUNf5UXosOWLR0yqts4M0nIMCh2dAM
VITE_FIREBASE_AUTH_DOMAIN=beadsinventory-d73f2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=beadsinventory-d73f2
VITE_FIREBASE_STORAGE_BUCKET=beadsinventory-d73f2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=570113058551
VITE_FIREBASE_APP_ID=1:570113058551:web:6ce7739f4bce445480d5f2
